.article {
    width: 250px;
    box-shadow: 0 0px 8px 3px rgba(110, 233, 255, 0.364);
    backdrop-filter: blur(10px);
    margin: 0 auto;
    background-color: rgba(228, 251, 251, 0.729);
}

.content {
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    color: var(--midlight-blue);
}

.content button {
    margin: 1rem auto;
    padding: 0.5rem 1.7rem;
    border-radius: 15px;
    outline: none;
    border: none;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    width: 220px;
    cursor: pointer;
}
