* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #1D3C6B;
  --midark-blue: #1E6E91;
  --midlight-blue:#37A4B2;
  --light-blue: #CDEAF4;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
